<a href="https://colab.research.google.com/github/sbesinski/kaggle_ML/blob/main/car_mpg_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_fwf(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data',
    names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
           'model_year', 'origin', 'car_name'])

In [ ]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,"""chevy s-10"""

In [ ]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [ ]:
df.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,"""ford pinto"""
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [ ]:
non_numeric = pd.to_numeric(df['horsepower'], errors='coerce').isna()
print(df[non_numeric])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
32   25.0          4          98.0          ?  2046.0          19.0
126  21.0          6         200.0          ?  2875.0          17.0
330  40.9          4          85.0          ?  1835.0          17.3
336  23.6          4         140.0          ?  2905.0          14.3
354  34.5          4         100.0          ?  2320.0          15.8
374  23.0          4         151.0          ?  3035.0          20.5

     model_year  origin                car_name
32           71       1            "ford pinto"
126          74       1         "ford maverick"
330          80       2  "renault lecar deluxe"
336          80       1    "ford mustang cobra"
354          81       2           "renault 18i"
374          82       1        "amc concord dl"

In [ ]:
df['horsepower'] = df['horsepower'].replace('?', np.nan)

In [ ]:
non_numeric = pd.to_numeric(df['horsepower'], errors='coerce').isna()
print(df[non_numeric])

      mpg  cylinders  displacement horsepower  weight  acceleration  \
32   25.0          4          98.0        NaN  2046.0          19.0
126  21.0          6         200.0        NaN  2875.0          17.0
330  40.9          4          85.0        NaN  1835.0          17.3
336  23.6          4         140.0        NaN  2905.0          14.3
354  34.5          4         100.0        NaN  2320.0          15.8
374  23.0          4         151.0        NaN  3035.0          20.5

     model_year  origin                car_name
32           71       1            "ford pinto"
126          74       1         "ford maverick"
330          80       2  "renault lecar deluxe"
336          80       1    "ford mustang cobra"
354          81       2           "renault 18i"
374          82       1        "amc concord dl"

In [ ]:
df['horsepower'] = df['horsepower'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [ ]:
df['car_name'] = df['car_name'].str.replace('"', '').str.split().str[0]

In [ ]:
print(df['car_name'].unique)

<bound method Series.unique of 0      chevrolet
1          buick
2       plymouth
3            amc
4           ford
         ...
393         ford
394           vw
395        dodge
396         ford
397        chevy
Name: car_name, Length: 398, dtype: object>

In [ ]:
df['car_name'].value_counts()

car_name
ford             51
chevrolet        43
plymouth         31
amc              28
dodge            28
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
mazda            10
oldsmobile       10
fiat              8
peugeot           8
audi              7
chrysler          6
vw                6
volvo             6
renault           5
saab              4
subaru            4
opel              4
chevy             3
bmw               2
cadillac          2
maxda             2
mercedes-benz     2
triumph           1
vokswagen         1
mercedes          1
hi                1
capri             1
chevroelt         1
toyouta           1
nissan            1
Name: count, dtype: int64

In [ ]:
df['car_name'].value_counts().mean()

10.756756756756756

In [ ]:
car_counts = df['car_name'].value_counts()

In [ ]:
car_counts

car_name
ford             51
chevrolet        43
plymouth         31
amc              28
dodge            28
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
mazda            10
oldsmobile       10
fiat              8
peugeot           8
audi              7
chrysler          6
vw                6
volvo             6
renault           5
saab              4
subaru            4
opel              4
chevy             3
bmw               2
cadillac          2
maxda             2
mercedes-benz     2
triumph           1
vokswagen         1
mercedes          1
hi                1
capri             1
chevroelt         1
toyouta           1
nissan            1
Name: count, dtype: int64

In [ ]:
origin = df['origin'].unique()
mpg = df['mpg'].unique()
cylinders = df['cylinders'].unique()
displacement = df['displacement'].unique()
horsepower = df['horsepower'].unique()
weight = df['weight'].unique()
acceleration = df['acceleration'].unique()
model_year = df['model_year'].unique()

print(f"origin: {origin}")
print(f"mpg: {mpg}")
print(f"cylinders: {cylinders}")
print(f"displacement: {displacement}")
print(f"horsepower: {horsepower}")
print(f"weight: {weight}")
print(f"acceleration: {acceleration}")
print(f"model_year: {model_year}")

origin: [1 3 2]
mpg: [18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]
cylinders: [8 4 6 3 5]
displacement: [307.  350.  318.  304.  302.  429.  454.  440.  455.  390.  383.  340.
 400.  113.  198.  199.  200.   97.  110.  107.  104.  121.  360.  140.
  98.  232.  225.  250.  351.  258.  122.  116.   79.   88.   71.   72.
  91.   97.5  70.  120.   96.  108.  155.   68.  114.  156.   76.   83.
  90.  231.  262.  134.  119.  171.  115.  101.  305.   85.  130.  168.
 111.  260.  151.  146.   80.   78.  105.  131.  163.   89.  267.   86.
 183.  141.  173.  135.   81.  100.  145.  112.  181.  144. ]
horsepower: [130. 165. 150. 140. 198. 220. 215. 225. 190. 170. 160.  95.  97.  85.
  88.  46.  87.  90. 113. 200. 210. 193.  nan 100. 105. 175. 153. 180.
 110.  72.  86.  70.  76.  65.  69.  60.  80.  54. 208. 155. 112.  92.
 145. 137. 158. 167.  94. 107. 230.  49.  75.  91. 122.  67.  83.  78.
  52.  61.  93. 148. 129.  96.  71.  98. 115.  53.  81.  79. 120. 152.
 102. 108.  68.  58. 149.  89.  63.  48.  66. 139. 103. 125. 133. 138.
 135. 142.  77.  62. 132.  84.  64.  74. 116.  82.]
weight: [3504. 3693. 3436. 3433. 3449. 4341. 4354. 4312. 4425. 3850. 3563. 3609.
 3761. 3086. 2372. 2833. 2774. 2587. 2130. 1835. 2672. 2430. 2375. 2234.
 2648. 4615. 4376. 4382. 4732. 2264. 2228. 2046. 2634. 3439. 3329. 3302.
 3288. 4209. 4464. 4154. 4096. 4955. 4746. 5140. 2962. 2408. 3282. 3139.
 2220. 2123. 2074. 2065. 1773. 1613. 1834. 1955. 2278. 2126. 2254. 2226.
 4274. 4385. 4135. 4129. 3672. 4633. 4502. 4456. 4422. 2330. 3892. 4098.
 4294. 4077. 2933. 2511. 2979. 2189. 2395. 2288. 2506. 2164. 2100. 4100.
 3988. 4042. 3777. 4952. 4363. 4237. 4735. 4951. 3821. 3121. 3278. 2945.
 3021. 2904. 1950. 4997. 4906. 4654. 4499. 2789. 2279. 2401. 2379. 2124.
 2310. 2472. 2265. 4082. 4278. 1867. 2158. 2582. 2868. 3399. 2660. 2807.
 3664. 3102. 2875. 2901. 3336. 2451. 1836. 2542. 3781. 3632. 3613. 4141.
 4699. 4457. 4638. 4257. 2219. 1963. 2300. 1649. 2003. 2125. 2108. 2246.
 2489. 2391. 2000. 3264. 3459. 3432. 3158. 4668. 4440. 4498. 4657. 3907.
 3897. 3730. 3785. 3039. 3221. 3169. 2171. 2639. 2914. 2592. 2702. 2223.
 2545. 2984. 1937. 3211. 2694. 2957. 2671. 1795. 2464. 2572. 2255. 2202.
 4215. 4190. 3962. 3233. 3353. 3012. 3085. 2035. 3651. 3574. 3645. 3193.
 1825. 1990. 2155. 2565. 3150. 3940. 3270. 2930. 3820. 4380. 4055. 3870.
 3755. 2045. 1945. 3880. 4060. 4140. 4295. 3520. 3425. 3630. 3525. 4220.
 4165. 4325. 4335. 1940. 2740. 2755. 2051. 2075. 1985. 2190. 2815. 2600.
 2720. 1800. 2070. 3365. 3735. 3570. 3535. 3155. 2965. 3430. 3210. 3380.
 3070. 3620. 3410. 3445. 3205. 4080. 2560. 2230. 2515. 2745. 2855. 2405.
 2830. 3140. 2795. 2135. 3245. 2990. 2890. 3265. 3360. 3840. 3725. 3955.
 3830. 4360. 4054. 3605. 1925. 1975. 1915. 2670. 3530. 3900. 3190. 3420.
 2200. 2150. 2020. 2595. 2700. 2556. 2144. 1968. 2120. 2019. 2678. 2870.
 3003. 3381. 2188. 2711. 2434. 2110. 2800. 2085. 2335. 2950. 3250. 1850.
 2145. 1845. 2910. 2420. 2500. 2905. 2290. 2490. 2635. 2620. 2725. 2385.
 1755. 1875. 1760. 2050. 2215. 2380. 2320. 2210. 2350. 2615. 3230. 3160.
 2900. 3415. 3060. 3465. 2605. 2640. 2575. 2525. 2735. 2865. 3035. 1980.
 2025. 1970. 2160. 2205. 2245. 1965. 1995. 3015. 2585. 2835. 2665. 2370.
 2790. 2295. 2625.]
acceleration: [12.  11.5 11.  10.5 10.   9.   8.5  8.   9.5 15.  15.5 16.  14.5 20.5
 17.5 12.5 14.  13.5 18.5 19.  13.  19.5 18.  17.  23.5 16.5 21.  16.9
 14.9 17.7 15.3 13.9 12.8 15.4 17.6 22.2 22.1 14.2 17.4 16.2 17.8 12.2
 16.4 13.6 15.7 13.2 21.9 16.7 12.1 14.8 18.6 16.8 13.7 11.1 11.4 18.2
 15.8 15.9 14.1 21.5 14.4 19.4 19.2 17.2 18.7 15.1 13.4 11.2 14.7 16.6
 17.3 15.2 14.3 20.1 24.8 11.3 12.9 18.8 18.1 17.9 21.7 23.7 19.9 21.8
 13.8 12.6 16.1 20.7 18.3 20.4 19.6 17.1 15.6 24.6 11.6]
model_year: [70 71 72 73 74 75 76 77 78 79 80 81 82]

In [ ]:
# Assuming 'dataset' is a Pandas DataFrame
car_name_freqs = df.groupby('car_name').size().reset_index(name='count')

In [ ]:
  # Assuming `car_name_freqs` is a Pandas DataFrame
  irrelevant_car_names = car_name_freqs.loc[car_name_freqs['count'] < 20, 'car_name'].tolist()

  # To display the filtered car names (equivalent to `show()` in PySpark):
  print(irrelevant_car_names)

['audi', 'bmw', 'buick', 'cadillac', 'capri', 'chevroelt', 'chevy', 'chrysler', 'fiat', 'hi', 'honda', 'maxda', 'mazda', 'mercedes', 'mercedes-benz', 'mercury', 'nissan', 'oldsmobile', 'opel', 'peugeot', 'pontiac', 'renault', 'saab', 'subaru', 'toyouta', 'triumph', 'vokswagen', 'volkswagen', 'volvo', 'vw']

In [ ]:
df['car_name'] = df['car_name'].apply(lambda x: 'other' if x in irrelevant_car_names else x)

In [ ]:
df['car_name']

0      chevrolet
1          other
2       plymouth
3            amc
4           ford
         ...
393         ford
394        other
395        dodge
396         ford
397        other
Name: car_name, Length: 398, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [ ]:
df['horsepower'].isna().sum()

6

In [ ]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].mean())
df['horsepower'].isna().sum()

0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline

In [ ]:
le = LabelEncoder()
df['car_name'] = le.fit_transform(df['car_name'])
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,5
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,6
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,4
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,4
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,5
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,3
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,4
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,5

In [ ]:
oh_features = ['origin', 'model_year', 'car_name', 'cylinders']
oh = OneHotEncoder()
#df_oh = pd.DataFrame(oh.fit_transform(df[oh_features]).toarray(), columns=oh.get_feature_names_out(oh_features))
df

,mpg,displacement,horsepower,weight,acceleration,origin_1,origin_2,origin_3,model_year_70,model_year_71,...,car_name_3,car_name_4,car_name_5,car_name_6,car_name_7,cylinders_3,cylinders_4,cylinders_5,cylinders_6,cylinders_8
0,18.0,307.0,130.0,3504.0,12.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,15.0,350.0,165.0,3693.0,11.5,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,18.0,318.0,150.0,3436.0,11.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,16.0,304.0,150.0,3433.0,12.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,17.0,302.0,140.0,3449.0,10.5,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,140.0,86.0,2790.0,15.6,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
394,44.0,97.0,52.0,2130.0,24.6,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
395,32.0,135.0,84.0,2295.0,11.6,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
396,28.0,120.0,79.0,2625.0,18.6,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
397,31.0,119.0,82.0,2720.0,19.4,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df_scaled

,mpg,displacement,horsepower,weight,acceleration,origin_1,origin_2,origin_3,model_year_70,model_year_71,...,car_name_3,car_name_4,car_name_5,car_name_6,car_name_7,cylinders_3,cylinders_4,cylinders_5,cylinders_6,cylinders_8
0,-0.706439,1.090604,0.669196,0.630870,-1.295498,0.773559,-0.461968,-0.497643,3.567091,-0.275092,...,-0.275092,-0.383372,-0.859064,-0.290635,-0.25889,-0.100759,-1.025449,-0.087149,-0.517219,1.692359
1,-1.090751,1.503514,1.586599,0.854333,-1.477038,0.773559,-0.461968,-0.497643,3.567091,-0.275092,...,-0.275092,-0.383372,1.164057,-0.290635,-0.25889,-0.100759,-1.025449,-0.087149,-0.517219,1.692359
2,-0.706439,1.196232,1.193426,0.550470,-1.658577,0.773559,-0.461968,-0.497643,3.567091,-0.275092,...,-0.275092,-0.383372,-0.859064,3.440743,-0.25889,-0.100759,-1.025449,-0.087149,-0.517219,1.692359
3,-0.962647,1.061796,1.193426,0.546923,-1.295498,0.773559,-0.461968,-0.497643,3.567091,-0.275092,...,-0.275092,-0.383372,-0.859064,-0.290635,-0.25889,-0.100759,-1.025449,-0.087149,-0.517219,1.692359
4,-0.834543,1.042591,0.931311,0.565841,-1.840117,0.773559,-0.461968,-0.497643,3.567091,-0.275092,...,-0.275092,2.608433,-0.859064,-0.290635,-0.25889,-0.100759,-1.025449,-0.087149,-0.517219,1.692359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,0.446497,-0.513026,-0.484111,-0.213324,0.011586,0.773559,-0.461968,-0.497643,-0.280340,-0.275092,...,-0.275092,2.608433,-0.859064,-0.290635,-0.25889,-0.100759,0.975182,-0.087149,-0.517219,-0.590891
394,2.624265,-0.925936,-1.375302,-0.993671,3.279296,-1.292726,2.164651,-0.497643,-0.280340,-0.275092,...,-0.275092,-0.383372,1.164057,-0.290635,-0.25889,-0.100759,0.975182,-0.087149,-0.517219,-0.590891
395,1.087017,-0.561039,-0.536534,-0.798585,-1.440730,0.773559,-0.461968,-0.497643,-0.280340,-0.275092,...,3.635146,-0.383372,-0.859064,-0.290635,-0.25889,-0.100759,0.975182,-0.087149,-0.517219,-0.590891
396,0.574601,-0.705077,-0.667591,-0.408411,1.100822,0.773559,-0.461968,-0.497643,-0.280340,-0.275092,...,-0.275092,2.608433,-0.859064,-0.290635,-0.25889,-0.100759,0.975182,-0.087149,-0.517219,-0.590891
397,0.958913,-0.714680,-0.588957,-0.296088,1.391285,0.773559,-0.461968,-0.497643,-0.280340,-0.275092,...,-0.275092,-0.383372,1.164057,-0.290635,-0.25889,-0.100759,0.975182,-0.087149,-0.517219,-0.590891

In [ ]:
X = df.drop(columns=['mpg'])  # Drop the target column
y = df['mpg']  # Target variable

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

# Define the transformer pipeline
transformer = ColumnTransformer(
    transformers=[
        ('scaler', StandardScaler(), X.columns)  # Apply scaling to all columns
    ]
)

# Final pipeline with scaling
pipeline = Pipeline(steps=[('transformer', transformer)])

# Transform features
assembled_vector = pipeline.fit_transform(X)
assembled_vector

array([[ 1.0906037 ,  0.66919608,  0.63086987, ..., -0.08714893,
        -0.51721942,  1.69235861],
       [ 1.5035143 ,  1.58659918,  0.85433297, ..., -0.08714893,
        -0.51721942,  1.69235861],
       [ 1.19623199,  1.19342642,  0.55047045, ..., -0.08714893,
        -0.51721942,  1.69235861],
       ...,
       [-0.56103873, -0.53653371, -0.79858454, ..., -0.08714893,
        -0.51721942, -0.59089131],
       [-0.70507731, -0.66759129, -0.40841088, ..., -0.08714893,
        -0.51721942, -0.59089131],
       [-0.71467988, -0.58895674, -0.29608816, ..., -0.08714893,
        -0.51721942, -0.59089131]])

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(assembled_vector, y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((318, 33), (80, 33), (318,), (80,))

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 7.119269297107211
R-squared: 0.8675889867254386

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 16.700875
R-squared: 0.6893810742318252

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Ensure inline plotting
%matplotlib inline

# Load data
df = pd.read_fwf(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data',
    names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
           'model_year', 'origin', 'car_name'])

# Handling non-numeric 'horsepower'
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['horsepower'].fillna(df['horsepower'].mean(), inplace=True)

# Clean 'car_name' column and categorize rare car names
car_name_freqs = df['car_name'].value_counts()
irrelevant_car_names = car_name_freqs[car_name_freqs < 20].index
df['car_name'] = df['car_name'].apply(lambda x: 'other' if x in irrelevant_car_names else x)

# Encode categorical variables
le = LabelEncoder()
df['car_name'] = le.fit_transform(df['car_name'])

# Define features and target
X = df.drop(columns=['mpg'])  # Features
y = df['mpg']  # Target variable

# Define the pipeline for scaling and encoding
numeric_features = ['displacement', 'horsepower', 'weight', 'acceleration', 'cylinders']
categorical_features = ['origin', 'model_year', 'car_name']

# Create transformers for numeric and categorical data
numeric_transformer = StandardScaler()
categorical_transformer = OneHotEncoder(drop='first')

# Create a column transformer for the pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Create pipeline with preprocessing and model
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', LinearRegression())  # You can switch to DecisionTreeRegressor later
])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
pipeline.fit(X_train, y_train)

# Make predictions
y_pred = pipeline.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

# Switch to DecisionTreeRegressor if needed
pipeline.set_params(model=DecisionTreeRegressor(random_state=42))
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

# Evaluate again with DecisionTreeRegressor
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (Decision Tree): {mse}")
print(f"R-squared (Decision Tree): {r2}")

Mean Squared Error: 8.574855136565182
R-squared: 0.8405166022057172
Mean Squared Error (Decision Tree): 16.683625
R-squared (Decision Tree): 0.6897019063121503

<ipython-input-175-0b3e75fb7626>:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(df['horsepower'].mean(), inplace=True)